*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body{
    /*background-image: ;*/
    background-image: url('../praia.webp');
    background-size: cover;
    background-position-y: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

a, label{
    font-size: 1rem;
}

a:hover{
    color: #08558b;
}

/*container login*/

#container-login{
    background-color: #fff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

/*formulario*/

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
    width: 100%;
    text-align: left;
}

label{
    font-weight: bold;
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus{
    border-bottom: 2px solid #08558b;
}

#senha-esquecida{
    text-align: right;
    display: block;
}

input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #1b223c;
    cursor:pointer;
}

input[type="submit"]:hover{
    background-color: #1b223c;
    transition: .5s;
}

/*redes sociais*/
 
#container-social,#container-social p{
    margin-bottom: 20px;
}

#container-social i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    margin:0  5px;
}

.fa-facebook-f{
    background-color: #3b5998;
}
.fa-linkedin{
    background-color: #0077b5;
}
/*registrar*/
#container-registro p{
    margin-bottom: 10px;
}
